@import '../../styles/mixins';

.home-app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  // background: #101115;
  // background: #0f1623;
  // background: black;

  .page-container {
    padding: 10px;

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
