@import '../../styles/mixins';

$backgroundOverlayBegin: rgba(6, 55, 86, 0.9);
$backgroundOverlayEnd: rgba(0, 0, 0, 0.9);

.common-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $backgroundOverlayEnd;

  background-image: linear-gradient(to bottom, $backgroundOverlayBegin, rgba(0, 0, 0, 0.9));

  .common-background__art-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    min-height: 100%;

    opacity: 0;

    animation-fill-mode: forwards;
    animation-name: common-background__enter;
    animation-delay: 0.2s;
    animation-duration: 2s;
    animation-iteration-count: 1;

    &.fading {
      animation-delay: 0s;
      animation-name: common-background__leave;
      animation-duration: 0.5s;
    }

    .common-background__art {
      height: 100vh;
      background-color: $backgroundOverlayBegin;
      background-size: cover;
      background-position: center top;
    }
  }
}

@keyframes common-background__enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes common-background__leave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
