@import '../../styles/mixins';

.home-top-menu {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $borderColor;
  background: rgba(37, 46, 70, 0.5);

  display: flex;
  justify-content: center;

  @media (max-width: $mobile) {
    height: auto;
    flex-wrap: wrap;
  }
}

.home-top-menu__item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  // font-variant-caps: all-petite-caps;

  font-weight: bold;
  font-size: 23px;

  // color: rgba(45, 183, 245, 0.4);
  color: rgba(93, 183, 149, 0.4);

  &:hover {
    // color: rgba(45, 183, 245, 0.6);
    color: rgba(210, 233, 224, 0.6);
  }

  &.active {
    // color: rgba(45, 183, 245, 1);
    // color: rgb(209, 235, 225);
    color: white;
  }

  @media (min-width: $mobile) {
    & + & {
      border-left: 1px solid $borderColor;
    }
  }

  @media (max-width: $mobile - 1px) {
    height: 30px;
    justify-content: center;
    &,
    &.active,
    &:hover {
      border-bottom: none;
    }
  }
}
