@import '../../styles/mixins';

.dossier-wayfarer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    margin: 0 0 0 0;
  }
}

.dossier-wayfarer__avatar {
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 250px;
  border-radius: 4px;
  margin: 0 0 10px 0;

  @media (min-width: $mobile) {
    width: 250px;
  }
}

.dossier-wayfarer__story {
  margin-top: 15px;
  max-width: 1000px;
  text-align: justify;
}
