@import '../../styles/mixins';

.dossier-wayfarer-card {
  // border: 1px solid #1f395c;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;

  @media (max-width: $mobile) {
    width: auto;
  }

  clip-path: inset(0% 0% 100% 0%);

  animation-fill-mode: forwards;
  animation-name: top-to-bottom-enter;
  animation-duration: 1s;
  animation-iteration-count: 1;

  display: flex;
  flex-direction: column;
}

.dossier-wayfarer-card__specs-title {
  margin: 10px 0 10px;
  font-size: 14px;
}

.dossier-wayfarer-card__block {
  display: flex;
  z-index: 1;
  position: relative;
  flex-shrink: 0;

  transition: opacity 1.5s ease;

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.full-width {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
  }
}

.dossier-wayfarer-card__name {
  flex: 1 1 auto;
}

.dossier-wayfarer-card__character {
  font-size: 12px;
}

.dossier-wayfarer-card__about {
  font-size: 12px;
  text-align: justify;
  border-top: 1px solid #0c2e4b;
  border-bottom: 1px solid #0c2e4b;
  padding: 5px 0;
  margin: 5px 0;
}

.dossier-wayfarer-card__about__toggle-full {
  border-bottom: 1px dotted #1b4161;
  display: inline-block;
  line-height: 1.3;
  cursor: pointer;
}

.dossier-wayfarer-card__avatar-show-icon {
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 13px;
  z-index: 2;

  &:hover {
    opacity: 1;
    cursor: pointer;

    + .dossier-wayfarer-card__avatar {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    ~ .dossier-wayfarer-card__block {
      opacity: 0;
      transition: opacity 0.25s ease;
    }
  }
}

.dossier-wayfarer-card__avatar {
  background-size: cover;
  background-position: center top;

  border-radius: 5px;

  opacity: 0.15;
  transition: opacity 1.5s ease;

  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.dossier-wayfarer-card__specs {
  display: flex;
  flex-wrap: wrap;
  .dossier-wayfarer-card__spec {
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 1px 5px;
    border: 1px solid #005a80;
  }
}
