@import '../../styles/mixins';

.dossier-wayfarer-card {
  font-size: 25px;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 0.5em;
  width: 15em;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;

  @media (max-width: $mobile) {
    width: auto;
  }

  clip-path: inset(0% 0% 100% 0%);

  animation-fill-mode: forwards;
  animation-name: top-to-bottom-enter;
  animation-duration: 1s;
  animation-iteration-count: 1;

  display: flex;
  flex-direction: column;
}

.dossier-wayfarer-card__specs-title {
  display: none;
  margin: 0 0 0.5em;
  font-size: 0.7em;
}

.dossier-wayfarer-card__block {
  display: flex;
  z-index: 1;
  position: relative;
  flex-shrink: 0;

  transition: opacity 1.5s ease;

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.full-width {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
  }
}

.dossier-wayfarer-card__name {
  flex: 1 1 auto;
  font-size: 0.9em;
  &,
  &:hover {
    border-bottom: none;
  }
}

.dossier-wayfarer-card__character {
  font-size: 0.6em;
}

.dossier-wayfarer-card__about {
  font-size: 0.6em;
  line-height: 1.4;
  text-align: justify;
  border-top: 0.09em solid #0c2e4b;
  border-bottom: 0.09em solid #0c2e4b;
  padding: 0.42em 0;
  margin: 0.42em 0;
}

.dossier-wayfarer-card__about__toggle-full {
  border-bottom: 0.1em dotted #1b4161;
  display: inline-block;
  line-height: 1.3;
  cursor: pointer;
}

.dossier-wayfarer-card__avatar-show-icon {
  opacity: 0.5;
  position: absolute;
  right: 0.5em;
  top: 0.6em;
  z-index: 2;

  &:hover {
    opacity: 1;
    cursor: pointer;

    + .dossier-wayfarer-card__avatar {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    ~ .dossier-wayfarer-card__block {
      opacity: 0;
      transition: opacity 0.25s ease;
    }
  }
}

.dossier-wayfarer-card__avatar {
  background-size: cover;
  background-position: center top;

  border-radius: 0.25em;

  opacity: 0.15;
  transition: opacity 1.5s ease;

  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.dossier-wayfarer-card__specs {
  display: flex;
  flex-wrap: wrap;
  .dossier-wayfarer-card__spec {
    font-size: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.1em 0.5em;
    border: 0.1em solid #005a80;
  }
}
