@import '../../styles/mixins';

.dossier-wayfarers {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: baseline;
  justify-content: center;

  @media (min-width: 1300px) {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 90px);
    max-height: 800px;

    align-items: center;
    align-content: center;
    justify-content: flex-start;
  }
}
