@import '../../styles/mixins';

.dossier-wayfarer {
  h1 {
    font-size: 40px;
    margin: 0 0 0 0;
  }
}

.dossier-wayfarer__avatar {
  background-size: cover;
  background-position: center top;
  float: right;
  width: 250px;
  height: 250px;
  border-radius: 4px;
  margin: 0 0 10px 30px;
}

.dossier-wayfarer__story {
  margin-top: 15px;
  max-width: 1000px;
  text-align: justify;
}
